<form>
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-6 form-group">
                <label for="fullname" class="form-label"><span style="color:#ff0000">*</span> Full name</label>
                <input id="fullname" type="text" class="form-control"  aria-label="First name" required>
            </div>
            <div class="col-md-6 form-group">
                <label for="username" class="form-label"><span style="color:#ff0000">*</span> Username</label>
                <input id="username" type="text" class="form-control"  aria-label="username" required>
            </div>
        </div>
        <div class="row mb-3 form-group">
            <div class="col-md-6">
                <label for="password" class="form-label"><span style="color:#ff0000">*</span> Password</label>
                <input id="password" type="password" class="form-control"  aria-label="password" required>
            </div>
            <div class="col-md-6 form-group">
                <label for="phone" class="form-label"><span style="color:#ff0000">*</span> Phone Number</label>
                <input id="phone" type="text" class="form-control"  aria-label="phone" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 mt-4 form-group">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Send Email?</label> <br>

                </div>
                  
            </div>
            <div class="col-md-6 form-group">
                <label for="email" class="form-label"><span style="color:#ff0000">*</span> Email</label>
                <input id="email" type="email" class="form-control"  aria-label="email" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 form-group">
                <label for="address" class="form-label">Address</label>
                <input id="address" type="text" class="form-control"  aria-label="addres" required>
            </div>
            <div class="col-md-6 form-group">
                <label for="contact" class="form-label">Contact Number</label>
                <input id="contact" type="text" class="form-control"  aria-label="contact" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 form-group">
                <label for="valid" class="form-label"><span style="color:#ff0000">*</span> validPeriod</label>
                <input id="valid" type="date" class="form-control"  aria-label="valid" required>
            </div>
            <div class="col-md-6 form-group">
                <label for="appld" class="form-label"><span style="color:#ff0000">*</span> Appld</label>
                <input id="appld" type="text" class="form-control"  aria-label="username" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 form-group">
                <label for="fullname" class="form-label"><span style="color:#ff0000">*</span> capacity(M)</label>
                <input id="fullname" type="text" class="form-control"  aria-label="First name" required>
            </div>
            <div class="col-md-6 form-group">
                <label for="username" class="form-label">Postscript</label>
                <input id="username" type="text" class="form-control"  aria-label="username" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8 form-group">
                <div class="col-md-12">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Whether to authorize the background?</label> <br>

                    </div>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <button type="button" class="btn btn-light">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</form>